/* @tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px black solid;
  padding: 1rem 3rem 1rem 3rem;
  width: 100%;
  position: sticky;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.team-info {
  text-align: center;
  background-color: #f3cc91;
  height: fit-content;
}

#team-name {
  font-size: 2.75rem;
  font-weight: 550;
}
#team-desc {
  font-size: 1.2rem;
}
